<ion-view view-title="Expenses List">
  <ion-content ng-controller="ExpenseviewCtrl">
    <a class="item item-icon-left" href="./index.html#/exview/adde">
    <i class="icon ion-plus-circled"></i>
    Add Expenses
      
  </a>
      <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="exp in expenses" type="item-text-wrap" href="#/tab/exview/{{chat.id}}">
        <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/simple-red-glossy-icons-business/086760-simple-red-glossy-icon-business-dollar-solid.png">
        <h2>{{exp.name}}</h2>
        <p>{{exp.amount}}</p>
          <p>{{exp.date.substring(0,10)}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
